<div class="backdrop js-backdrop">
  <div class="modal">
    <div class="modal-container"></div>
    <button type="button" class="js-removeButton">
      remove from the shopping list
    </button>
    <div class="js-added-text no-display">
      <p>
        Сongratulations! You have added the book to the shopping list. To
        delete, press the button “Remove from the shopping list”.
      </p>
    </div>
    <button type="button" class="js-closeModal">
      <svg class="mobile-button-menu-icon-close-menu" width="28" height="28">
        <use href="./img/icon.svg#icon-x-close"></use>
      </svg>
    </button>
  </div>
</div>
<!-- <div class="js-added-text no-display"></div> -->
