

<!-- <div class = "backdrop js-backdrop">
  <div class = "modal">
       <div>
            <button type = "button" class = "button" data-action = "close-modal">x</button>
            <button type = "button" class = "button">Add to shopping list</button>
        </div>
        <ul class="js-list"></ul>
    </div>
</div> -->


<div class="backdrop js-backdrop">
   
    <div class="modal">
       
      <div class="modal-container"></div>
        <button type = "button" class = "button" data-action = "close-modal">x</button>
     
     
      <button type="button" class="js-removeButton">Remove</button>
      <button type="button" class="js-addButton">Add to shopping list</button>
    </div>
  </div>

  <!-- <div class="backdrop js-backdrop">
    <div class="modal">
      <div class="modal-container"></div>
      <button type="button" class="js-removeButton">Remove</button>
      <button type="button" class="js-addButton">Add to shopping list</button>
      <button type="button" class="close-modal">close</button>
    </div>
  </div> -->