<main>
  <section>
    <div class="container shopping-container">
      <div class="support"></div>
      <div class="shopping-list">
        <h1>Shopping <span class="shopping-span">List</span></h1>

        <!-- список для рендеру карток -->
        <ul class="card-list">
          <li class="shop-card" data-id="${id}">
  <img class="card-img" src="./img/shopping/IMG_9606 1.png" alt="book cover" />
  <div class="shop-card-details">
    <h2 class="shop-card-title">title</h2>
    <p class="shop-card-category">list_name</p>
    <p class="shop-card-description">description</p>
    <p class="shop-card-author">author</p>
    <button class="basket">
    <svg class="trash-btn" width="18" height="18">
  <use href="./img/sprite.svg#icon-trash"></use>
</svg>
</button>
<ul class="buy-links-list">
    <li class="shop-card-buy-links">
        <a
            href="https://www.amazon.de/"
            class="shop-card-link"
            target="blank"
          >
            <img
              class="buy-links-icon"
              src="./img/shopping/amazon_2x.jpg" srcset="./img/shopping/amazon_1x.jpg 1x, ./img/shopping/amazon_2x.jpg 2x" 
              width="48"
              alt="platform-icon"
            />
          </a>
      </li>
      <li class="shop-card-buy-links">
          <a
            href="https://www.amazon.de/"
            class="shop-card-link"
            target="blank"
          >
            <img
              class="buy-links-icon"
              src="./img/shopping/apple-1x.jpg" srcset="./img/shopping/apple-1x.jpg 1x, ./img/shopping/apple-2x.jpg 2x" 
              width="28"
              alt="platform-icon"
            />
          </a>
        </li>
     <li class="shop-card-buy-links">
          <a
            href="https://www.amazon.de/"
            class="shop-card-link"
            target="blank"
          >
            <img
              class="buy-links-icon"
             src="./img/shopping/bookshop-1x.jpg" srcset="./img/shopping/bookshop-1x.jpg 1x, ./img/shopping/bookshop-2x.jpg 2x" 
              width="32"
              alt="platform-icon"
            />
          </a>
        </li>
        </ul>
    </li>
  </div>
</li>
        </ul>

        <!-- <div class="empty-list">
              <p>This page is empty, add some books and proceed to order.</p>
              <img src="./img/shopping/IMG_9606 1.png" alt="books" />
            </div> -->
      </div>
    </div>

<!-- пробна карточка щоб намалювати css -->





<!-- the end -->


  </section>
</main>
