<main>
  <section>
    <div class="container">
      <!-- <div class="support"></div> -->
      <div class="shopping-list">
        <h1>Shopping <span class="shopping-span">List</span></h1>

        <!-- список для рендеру карток -->
        <!-- <ul class="card-list">
          <li class="shop-card" data-id="${id}">
  <img class="card-img" src="./img/shopping/IMG_9606 1.png" alt="book cover" />
  <div class="shop-card-details">
    <h2 class="shop-card-title">TITLE</h2>
    <p class="shop-card-category">list_name</p>
    <p class="shop-card-description">description SJLDFHV;KAJBF;KAJBF;JDF/KJ .KJFB;KJSDF;VKJS SDFJB;SKJDFB;SKJDF .SKDFJ;KJSBD description SJLDFHV;KAJBF;KAJBF;JDF/KJ .KJFB;KJSDF;VKJS SDFJB;SKJDFB;SKJDF .SKDFJ;KJSB</p>
    <p class="shop-card-author">author</p>
   
<ul class="buy-links-list">
    <li class="shop-card-buy-links">
        <a
            href="https://www.amazon.de/"
            class="shop-card-link"
            target="blank"
          >
            <img
              class="buy-links-icon icon-amazon"
              src="./img/shopping/amazon2x.png" srcset="./img/shopping/amazon1x.png 1x, ./img/shopping/amazon1x.png 2x" 
              alt="amazon-icon"
            />
          </a>
      </li>
      <li class="shop-card-buy-links">
          <a
            href="https://www.amazon.de/"
            class="shop-card-link"
            target="blank"
          >
            <img
              class="buy-links-icon icon-apple"
              src="./img/shopping/apple2x.png" srcset="./img/shopping/apple1x.png 1x, ./img/shopping/apple2x.png 2x" 
              
              alt="apple-icon"
            />
          </a>
        </li>
     <li class="shop-card-buy-links">
          <a
            href="https://www.amazon.de/"
            class="shop-card-link"
            target="blank"
          >
            <img
              class="buy-links-icon icon-bookstore"
             src="./img/shopping/boockshop2x.png" srcset="./img/shopping/boockshop1x.png 1x, ./img/shopping/boockshop2x.png 2x" 
              
              alt="bookstore-icon"
            />
          </a>
        </li>
        </ul>
        </div>
    <button class="basket">
    <svg class="basket-btn" width="18" height="18">
  <use href="./img/icons.svg#icon-trash"></use>
</svg>
</button>
    </li>
</li>
</ul> -->

        <!-- для пустої карточки -->
        <!-- <div class="empty-shop-list">
          <p class="empty-shop-list-text">
            This page is empty, add some books and proceed to order.
          </p>

          <img
            class="empty-shop-list-img"
            src="./img/shopping/IMG_9606 1.png"
            alt="books illustration"
          />
        </div> -->
      </div>
    </div>
  </section>
</main>
