/* !!! light-theme */

.categories {
  width: 356px;
  max-height: 472px;
  overflow-y: scroll;
  scrollbar-width: 8px;
  scrollbar-color: var(--grey-categories-color);
}

.categories-title,
.category-item {
  color: rgba(17, 17, 17, 0.6);
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

.categories-title {
  font-weight: 400;
}

.category-item {
  display: block;
  padding-top: 32px;
}

/* стилізація обраної категорії */
.is-chosen {
  text-transform: uppercase;
  color: var(--violet-color);
  font-weight: 700;
}

/* стилізація для скрола */
.categories::-webkit-scrollbar {
  width: 8px;
}
.categories::-webkit-scrollbar-track {
  background: transparent;
}
.categories::-webkit-scrollbar-thumb {
  background-color: var(--grey-categories-color);
  border-radius: 20px;
  border: none;
}

/* !!! dark-theme */
/* .categories {
  background-color: var(--black-body-color);
  scrollbar-color: var(--grey-categories-color);
}

.categories-title,
.category-item {
  color: rgba(255, 255, 255, 0.6);
} */

/* стилізація обраної категорії */
/* .is-chosen {
  color: #eac645;
} */

/* стилізація для скрола */
/* .categories::-webkit-scrollbar-thumb {
  background-color: rgba(17, 17, 17, 0.6);
} */
