:root {
  --black-header-color: #111111;
  --black-body-color: #202024;
  --violet-color: #4f2ee8;
  --white-color: #fff;
  --grey-text-color: #b4afaf;
  --yellow-color: #eac645;
  --light-theme-color: #f6f6f6;
  --grey-categories-color: #e0e0e0;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category-list-item-active {
  color: var(--violet-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--black-header-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04em;
  background-color: #f6f6f6;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* .home-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;
} */
.home-main-title {
  margin-bottom: 40px;
}
.home-main-span,
.home-main-span-lastword {
  color: var(--black-header-color);
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: -1.28px;
}

.home-main-span-lastword {
  color: var(--violet-color);
}

.gallery {
  width: 100%;
}

.main-gallery-item {
  width: 100%;
}

.gallery-item-genre {
  color: var(--grey-text-color);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.gallery-item-title {
  margin-top: 14px;
  margin-bottom: 4px;
  color: var(--black-header-color);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.gallery-item {
  display: block;
  margin: 0 auto;
}

.gallery-item:nth-child(n + 2) {
  display: none;
}

.category-gallery .gallery-item:nth-child(n + 1) {
  display: block;
}

.category-gallery .gallery-item:not(:last-child) {
  margin-bottom: 40px;
}

.gallery-item-thumb {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.gallery-item-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery-item-title {
  color: var(--black-header-color);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.gallery-item-author {
  color: var(--grey-text-color);
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
}

.gallery-button {
  display: block;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 40px;
  border: 2px solid var(--violet-color);
  margin-top: 8px;
  margin-bottom: 40px;
  margin-left: auto;
  color: var(--black-header-color);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.14px;
  transition: var(--transition-dur-and-func);
}

.gallery-button:hover,
.gallery-button:focus {
  background: var(--violet-color);
  color: #fff;
}

@media screen and (min-width: 768px) {
  /* .home-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  } */
  .category-gallery .gallery-item:not(:last-child) {
    margin-bottom: 0;
  }
  .gallery {
    width: 704px;
  }
  .category-gallery {
    width: 704px;
  }
  .gallery-item:nth-child(2n) {
    display: block;
  }

  .gallery-category {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .gallery-item {
    width: calc((100% - 50px) / 3);
  }

  .gallery-item-thumb {
    width: 218px;
    height: 316px;
  }

  .gallery-item-genre {
    line-height: 1.71;
  }

  .gallery-button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  /* .home-container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  } */

  .gallery {
    width: 996px;
  }
  .category-gallery {
    width: 996px;
  }
  .gallery-item:nth-child(n + 1) {
    display: block;
  }

  .gallery-category {
    gap: 24px;
  }

  .gallery-item {
    width: calc((100% - 96px) / 5);
  }

  .gallery-item-thumb {
    width: 180px;
    height: 256px;
  }

  .gallery-button {
    margin-top: 46px;
    margin-bottom: 54px;
  }
}

.gallery-item-thumb {
  position: relative;
}
.gallery-item-p-hover {
  color: var(--black-header-color);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}
.gallery-item-hover {
  position: absolute;
  padding: 26px 70px;
  width: 218px;
  height: 70px;
  background-color: #eac645;
  transition: transform var(--transition-dur-and-func);
}

@media screen and (min-width: 768px) {
  .gallery-item:hover .gallery-item-hover,
  .gallery-item:focus .gallery-item-hover {
    transform: translateY(-100%);
  }
}
@media screen and (min-width: 1440px) {
  .gallery-item-hover {
    width: 180px;
    padding: 26px 52px;
  }
}
