.header-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid #111;
  background-color: #f6f6f6;
}

.header-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  height: 64px;
}

/* Logo Bookshelf */
.header-logo {
  padding-top: 18px;
  padding-bottom: 18px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: none;
}
.header-item {
  padding: 8px 16px;
  border-radius: 36px;
}
.header-item-link {
  display: flex;
  align-items: center;
}
.header-wrap {
  display: flex;
  gap: 14px;
}
.icon-shoping-list {
  fill: currentColor;
}
.user-authorization {
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 9px;

  padding: 4px 12px;
  width: 182px;

  border-radius: 36px;
  background: var(--violet-color);
}
.user-authorization-title {
  color: var(--white-color);
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;
}

/* MOBILE MENU */
.mobile-icon-hidden {
  display: none;
}

.mobile-button-menu {
  min-height: 28px;
  min-width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  /* background-color: #111111; */
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .mobile-button-menu,
  .menu-togle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 84px 20px 20px 20px;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .mobile-button-menu {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #000000;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.mobile-button-menu-icon {
  /* fill: var(--black-body-color); */
}
/* Your existing CSS styles */

.mobile-button-menu.is-open .mobile-button-menu-icon-togle {
  /* display: none; */
}
.mobile-button-menu.is-open .mobile-button-menu-icon-close-menu {
  display: block;
  stroke: var(--black-body-color);
}
.mobile-button-menu-icon-togle {
  display: block;
  stroke: var(--black-body-color);
}
.mobile-button-menu-icon-togle:hover,
.mobile-button-menu-icon-togle:focus {
  stroke: var(--violet-color);
}
.mobile-button-menu-icon-close-menu {
  /* display: none; */
}
.menu-user-login {
  display: flex;
  align-items: center;
  gap: 9px;

  margin-bottom: 126px;
}
.menu-user-login-name {
  color: #fff;

  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;
}
.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;

  gap: 16px;

  color: #fff;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}
.mobile-menu-btn-down {
  position: fixed;
  left: 20px;
  bottom: 20px;

  padding: 15px 20px;
  border-radius: 18px;
  border: 1.5px solid var(--black-body-color);
  background: var(--white-color);
}
.mobile-menu-btn-down-icon {
  stroke: var(--yellow-color);
}
.mobile-menu-btn-down-link {
  display: flex;
  align-items: center;
}
.mobile-menu-btn-down-item {
  margin-right: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.56px;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 72px;
  }
  .header-logo {
    padding-top: 22px;
    padding-bottom: 22px;
    margin-right: 40px;
  }
  .header-nav-list {
    display: flex;
    gap: 24px;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: -0.56px;
    text-transform: uppercase;
  }
  .header-item {
    padding: 8px 16px;
    border-radius: 36px;
  }
  .active-link {
    background-color: #eac645;
  }

  .header-item-link-shoping-list {
    margin-right: 8px;
  }
  .user-authorization {
    display: flex;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .header-logo {
    margin-right: 72px;
  }
}

/* !!! dark-theme */
body.dark-theme .header-page {
  background-color: var(--black-header-color);
  border: 1.5px solid var(--white-color);
}

body.dark-theme .mobile-button-menu-icon-togle {
  stroke: var(--white-color);
}
