body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
body.show-modal .modal {
  transform: scale(1);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
  padding: 24px;
  border-radius: 18px;
  border: 2px solid #111;
  padding: 40px 24px;

  width: 87%;
  min-height: 320px;
  background-color: #fff;
  transform: scale(1, 1);
  transition: transform 200ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 40px;
    max-width: 579px;
    height: 465px;
  }
  .modal-text {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
  }

  .js-removeButton {
    margin-top: 40px;
    display: flex;
    width: 499px;
    padding: 20px 173px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 2px solid #4f2ee8;
    color: #111;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #0000;
  }
  /* .modal-img {
  width: 192px;
  height: 281px;
 

  border-radius: 8px;
} */
  .book-image {
    display: flex;
  }
}

/* .modal-container {
  display: flex;
  flex-wrap: nowrap;
} */

.js-removeButton {
  margin: 0 auto;
  margin-top: 42px;
  display: flex;
  /* width: 211px; */
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #0000;
}

.icon-x-close-modal {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: var(--black-body-color);

  left: 525px;
  bottom: 409px;
  position: absolute;
  display: flex;
}
@media screen and (min-width: 768px) {
  .icon-x-close-modal {
    min-height: 28px;
    min-width: 28px;
  }
}

.js-closeModal {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  bottom: 725px;
  left: 250px;
}
@media screen and (min-width: 768px) {
  .js-closeModal {
    bottom: 410px;
    left: 520px;
  }
}

.title {
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.64px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    letter-spacing: -0.96px;
  }
}
.author {
  margin-top: 4px;
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.48px;
}
@media screen and (min-width: 768px) {
  .author {
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: -0.56px;
    line-height: 1.3;
  }
}

.description {
  padding: 5px;
  border: solid 1px #b4afaf;
  overflow: scroll;
  margin-top: 18px;
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.56px;
  /* width: 287px; */
  height: 70px;
}
@media screen and (min-width: 768px) {
  .description {
    margin-top: 20px;
    width: 279px;
  }
}

.modal-img {
  margin-bottom: 14px;
  width: 287px;
  height: 408px;

  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .modal-img {
    width: 192px;
    height: 281px;

    border-radius: 8px;
  }
}

.buy-link {
  /* position: absolute; */
  margin-top: 14px;
  left: 256px;
  top: 190px;
  gap: 20px;
  display: flex;
  filter: grayscale();
  align-items: flex-end;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .buy-link {
    position: absolute;
    margin-top: 16px;
  }
}
/* .buy-link {   
  position: absolute;
  left: 256px;
  top: 212px;
  gap: 20px;
  display: flex;
  filter: grayscale();
  align-items: flex-end;
  align-items: center;
} */

.amazon {
  width: 62px;
  height: 19px;
}

.apple {
  width: 33px;
  height: 32px;
}
.bookstore {
  width: 38px;
  height: 36px;
}

.buy-link {
  filter: grayscale();
}

.buy-link:hover,
.buy-link:focus {
  filter: grayscale(0) drop-shadow(0 3px 3px rgba(0, 0, 0, 0.15));
}

.buy-links {
  filter: grayscale();
}
.buy-links:hover,
.buy-links:focus {
  filter: grayscale(0) drop-shadow(0 3px 3px rgba(0, 0, 0, 0.15));
  transform: scale(1.2);
}

.modal.dark-theme .icon-amazon {
  filter: grayscale() invert();
}
.modal.dark-theme .buy-links:hover,
.modal.dark-theme .buy-links:focus,
.modal.dark-theme .icon-amazon:hover,
.modal.dark-theme .icon-amazon:focus {
  filter: invert(0) grayscale(0) drop-shadow(2px 0 6px #fff);
}

.modal.dark-theme h1,
.modal.dark-theme .title,
.modal.dark-theme .description,
.modal.dark-theme .empty-shop-list-text {
  color: var(--white-color);
}

.modal.dark-theme {
  background-color: black;
}
