h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;

  margin-bottom: 40px;
}

.shopping-span {
  color: var(--violet-color);
}

.shop-card {
  display: flex;
  position: relative;
  padding: 14px;
  margin-bottom: 20px;

  max-width: 1440px;
  height: 170px;

  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
}

.card-img {
  width: 100px;
  height: 142px;

  border-radius: 8px;
}

.shop-card-details {
  margin-left: 14px;
}

.basket-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 14px;
  right: 14px;

  width: 28px;
  height: 28px;
  background-color: var(--violet-color);

  border-radius: 50%;
  border: none;
}

.basket-btn:hover,
.basket-btn:focus {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.5) rotateZ(180deg);
    transform: scale(1.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(1.5) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

.shop-card-buy-links {
  filter: grayscale();
  transition: transform 0.3s ease;
}

.shop-card-buy-links:hover,
.shop-card-buy-links:focus {
  filter: grayscale(0) drop-shadow(0 3px 3px rgba(0, 0, 0, 0.15));
  transform: scale(1.2);
}

.buy-links-list {
  display: flex;
  gap: 8px;
  align-items: center;

  position: absolute;
  right: 14px;
  bottom: 14px;
}

.icon-amazon {
  width: 32px;
  height: 11px;
}

.icon-apple,
.icon-bookstore {
  width: 16px;
  height: 16px;
}

.shop-card-title {
  font-size: 16px;
  font-weight: 700;
  width: 100px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-bottom: 4px;
}

.shop-card-category {
  color: var(--grey-text-color);
  font-size: 12px;
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-bottom: 4px;
}

.shop-card-description {
  margin-bottom: 16px;

  width: 140px;
  height: 68px;
  /* overflow: hidden;
  text-overflow: ellipsis; */
  overflow: scroll;
}

.shop-card-author {
  color: var(--grey-text-color);
  font-size: 12px;
  font-style: italic;

  width: 53px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* коли немає доданих книг */

.empty-shop-list-text {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 14px;
  text-align: center;
}

.empty-shop-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: 35px;
  margin-top: 120px;
  width: 265px;
}

.empty-shop-list-img {
  width: 265px;
  height: 198px;
}

@media screen and (min-width: 375px) {
  .shop-card-title {
    width: 114px;
  }
  .shop-card-category {
    width: 165px;
  }
  .shop-card-description {
    width: 193px;
  }
  .shop-card-author {
    width: 100px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
  .card-img {
    width: 116px;
    height: 165px;
  }
  .shop-card {
    height: 213px;

    padding: 24px;
  }
  .shop-card-title {
    width: 450px;
  }
  .shop-card-category {
    width: 450px;
    margin-bottom: 16px;
  }
  .shop-card-details {
    margin-left: 24px;
  }
  .shop-card-description {
    margin-bottom: 48px;

    width: 508px;
    height: 53px;
  }
  .shop-card-author {
    width: 350px;
  }
  .basket-btn {
    width: 34px;
    height: 34px;
  }
  .buy-links-list {
    gap: 16px;

    right: 24px;
    bottom: 24px;
  }

  .icon-amazon {
    width: 48px;
    height: 15px;
  }

  .icon-apple,
  .icon-bookstore {
    width: 30px;
    height: 30px;
  }

  .icon-apple-dark,
  .icon-apple-color,
  .icon-bookstore {
    width: 30px;
    height: 30px;
  }

  .empty-shop-list {
    margin-top: 120px;
    margin-left: 186px;

    width: 349px;
  }
  .empty-shop-list-img {
    width: 322;
    height: 241;

    margin-right: auto;
    margin-left: auto;
  }
  .empty-shop-list-text {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .shop-card-description {
    width: 808px;
  }
  .shopping-list {
    padding: 0 40px;
  }
  .empty-shop-list {
    margin-top: 140px;
    margin-left: 346px;
  }
}

/* dark theme */

body.dark-theme h1,
body.dark-theme .shop-card-title,
body.dark-theme .shop-card-description,
body.dark-theme .empty-shop-list-text {
  color: var(--white-color);
}
body.dark-theme .shopping-span {
  color: var(--violet-color);
}
body.dark-theme .icon-amazon {
  filter: grayscale() invert();
}
body.dark-theme .shop-card-buy-links:hover,
body.dark-theme .shop-card-buy-links:focus,
body.dark-theme .icon-amazon:hover,
body.dark-theme .icon-amazon:focus {
  filter: invert(0) grayscale(0) drop-shadow(2px 0 6px #fff);
}

/* MAIN shopping list */
.donate-shopping-container {
  display: none;
}
.shopping-list-container {
  display: flex;
}
@media screen and (min-width: 1440px) {
  .donate-shopping-container {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .shopping-list {
    position: relative;
    height: 860px;
  }
}
