.shopping-container {
  display: flex;

  margin-top: 40px;
}

.support {
  margin-right: 40px;
  width: 356px;

  background-color: var(--violet-color);
}

.shopping-list {
  width: 996px;
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;

  margin-bottom: 40px;
}

.shopping-span {
  color: var(--violet-color);
}
