@import url('./reset.css');
@import url('./header.css');
@import url('./categories.css');
@import url('./onecategory.css');
@import url('./gallery.css');
@import url('./modal.css');
@import url('./shopping.css');
@import url('./support.css');
@import url('./theme.css');
@import url('./pagination.css');
@import url('./btntotop.css');
@import url('./footer.css');

:root {
  --black-header-color: #111111;
  --black-body-color: #202024;
  --violet-color: #4f2ee8;
  --white-color: #fff;
  --grey-text-color: #b4afaf;
  --yellow-color: #eac645;
  --light-theme-color: #f6f6f6;
  --grey-categories-color: #e0e0e0;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  padding-top: 64px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  color: var(--black-header-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04em;
  background-color: #f6f6f6;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;
}

.main-container {
  margin-top: 40px;

  overflow: visible;
}

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}

.loader-category {
  display: none;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--violet-color);
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

.loader::before {
  left: auto;
  right: 0;
  background: var(--black-header-color);
  transform: translate(50%, 100%);
}

body.dark-theme .loader::before {
  background: var(--white-color);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 74px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .sidebar {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .main-container {
    display: flex;
  }
  .sidebar {
    flex-direction: column;
    gap: 86px;
    margin-right: 40px;
  }
}
